  <!-- FORMULAIRE DE CONNEXION -->
  <div class="card">
    <h2>Signup Form</h2>

        <!-- SE CONNECTER / S'INSCRIRE -->
    <div class="login_register">
      <a routerLink="/login" class="login">Login</a>
      <a routerLink="/signup" class="register">Signup</a>
    </div>

        <!-- FORMULAIRE -->
    <form class="form">
        <input type="email" placeholder="Email Adress" class="email">
        <input type="password" placeholder="password" class="pass">
        <input type="password" placeholder="Confirm Password" class="confirm_pass">
    </form>

        <!-- MOT DE PASSE OUBLIE ? -->
    <a href="#" class="fp">Forgot password?</a>

        <!-- BOUTTON LOGIN -->
        <button type="submit" class="login_btn">Signup</button>
</div>
